<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="$(arg name)">

  <!-- robot name parameter -->
  <xacro:arg name="name" default="ur"/>
  <!-- tf_prefix parameter -->
  <xacro:arg name="tf_prefix" default=""/>

  <xacro:include filename="$(find goc_demo)/srdf/ur_macro.srdf.xacro"/>

  <xacro:ur_srdf/>

</robot>
